.about{
    display: flex;
    flex-direction: column;   
    margin: auto;
    max-width: 70%;
    text-align: left;
    padding-top: 3%;
}

.about1{
    padding-left: 8%;
    display: flex;
    flex-direction: row;
    gap: 10%;
    /* max-width: 95%; */
}
.about1, .about2, .about3, .about5 {
  padding-top: 5%;
  font-size: 1.4em;
} 

.about2{
    display: flex;
    gap: 5%;
    justify-content: right;
    background-color: rgba(179, 175, 175, 0.243);
    padding: 1%;
}
.about3{
    padding-bottom: 10%;
    
}

.about4{ 
    display: flex;
    padding-left:2%; 
    padding-right: 2%;
    max-width: 50%;
    align-items: center;
    text-align: center;
    background-color: rgba(179, 175, 175, 0.243);
}
.about5{
    display: flex;
    padding-bottom: 3%;
    justify-content: center;
    max-height: 50%;

}
.about6{
    padding-top: 6%;
    max-width: 30%;
    padding-right: 4%;
}
.images{
    max-width: 50%;
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 1%;
}
