.about{
    display: flex;
    flex-direction: column;   
    margin: auto;
    max-width: 70%;
    text-align: left;
    padding-top: 3%;
}

.about1{
    padding-left: 8%;
    display: flex;
    flex-direction: row;
    gap: 10%;
    /* max-width: 95%; */
}
.about1, .about2, .about3, .about5 {
  padding-top: 5%;
  font-size: 1.4em;
} 

.about2{
    display: flex;
    gap: 5%;
    justify-content: right;
}
.about3{
    padding-bottom: 10%;
}
.about5{
    padding-bottom: 3%;
}

.images{
    display: flex;
    margin: auto;
    max-width: 80%;
    padding-bottom: 1%;
}