.slogan {
  max-height: 50%;
  padding: 7%;
  display: grid;
  grid-template-columns: repeat(1, 1fr 1fr);
  grid-template-rows: 1fr 2fr 1fr;
  gap: 0;
  max-width: fit-content;
}

.grid-item:first-child {
  grid-column: 1/2;
  grid-row: 1/2;
  display: grid;
  justify-content: start;
  align-content: end;
  padding-left: 20%;
}
.grid-item:nth-child(2) {
  /* padding-left: 7%; */
  padding-right: 55%;
  grid-column: 2/3;
  grid-row: 1/4;
  height: max-content;
}
.grid-item:nth-child(3) {
  grid-column: 1/2;
  grid-row: 2/3;
  display: grid;
  justify-content: start;
  padding-left: 25%;
}
.grid-item:nth-child(4) {
  grid-column: 1/1;
  grid-row: 2/3;
  height: max-content;
  text-align: left;
  padding-top: 10%;
  display: grid;
  max-width: 70%;
  padding-left: 25%;
}
