h1{
display: flex;
justify-content:center;
padding: 0;
}
.contentdiv{
    display: flex;
    flex-direction:column;
    max-width: 70%;
    margin: auto;
}

.icons{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-top: 5%;

}

.content{
    display: flex;
    width: 100%;
    justify-content: space-around;

    
}
.info{
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.div1{
    background-color: rgba(255, 255, 255, 0.139);
    padding-top: 5%;
max-width: 50%;
text-align: left;
}

