
body {
  flex-direction:column;
  align-items: center;
  justify-content: flex-start;
  min-width: 320px;
  min-height: 100vh;
  background-size: cover;
  color: black;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #f7f7fa;
  }

  button {
    background-color: #f9f9f9;
  }
}
