@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');



body {
  /* flex-direction:column;
  align-items: center;
  justify-content: flex-start; */
  min-width: 320px;
  min-width: fit-content;
  min-height: 100vh;
  background-size: cover;
  color: black;    
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: normal;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #f7f7fa;
  }

  button {
    background-color: #f9f9f9;
  }
}

